/*  GENERAL CSS */
:root{
    --black-clr:#000;
    --offwhite-clr:#f7f7f7;
}
*
,*::after
,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 0.6875rem;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.grid-row{
    display: grid;
}

.container{
    padding: 0rem 0.67rem;
    min-height: inherit;

}

img,svg,picture{
    width: 100%;
    display: block;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
 

/* GENERAL CSS END */


/* COLLECTION-SECTION CSS */
.section-collection{
    padding: 0.5rem;
    width: 100%;
    height: auto;
    box-shadow: 11px 2px 19px black
}


.section-collection .column .grid-row{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}

.section-collection .column:first-child{
    margin-bottom: 1rem;
}

.section-collection a{
    color: var(--black-clr);
    line-height: 1.5;
    text-transform: uppercase;
}

.section-collection p{
    margin-top: 0.5rem;
}

.bold{
    font-weight: bold;
}

.section-collection a:hover{
    opacity: .8;
}
/* /COLLECTION-SECTION CSS */

